body{
  margin: 0px;
}

.smiley{
  border-radius: 50%;
  border: 1px solid  yellow;
  height:19rem;
  width:19rem;
  position: absolute;
  left:65%;
  top:2%;
  background-color: #ffcd00;
  z-index: 0;
}



.eye{
  border-radius: 50%;
  border: 1px solid  black;
  height:6rem;
  width:6rem;
  position: absolute;
  background-color: white;

 
}

.mouth {
  width: 10rem;
  height: 4rem;
  background-color: #b57700;
  position: absolute;
  top: 70%;
  left: 25%;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  transition: height 0.2s ease; /* Add transition for smooth animation */
}

.heading{
  font-size: 50px;
  text-align: left;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 113, 113);
}

.mouth2{
  width: 6rem;
  height: 3rem;
  background-color: red;
  position: absolute;
  border: 1px solid black;
  top: 70%;
  left: 30%;
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 90%;
  transition: height 0.2s ease; /
}





.eyeball{
  height:4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: black;

}

.eye:first-child{
  top:20%;
  left:15%;
}

.eye:last-child{
  top:20%;
  left:50%;
}

#container {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.currentWord{
  position: absolute;
  bottom:0;
  left:73%;
  font-size: 30px;
  color: rgb(255, 113, 113);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;

}

.leftHalf{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  border-left: 4px solid rgb(250, 166, 166);
}
#textbox {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color:#cdd1d3
}
#animationCanvas {
  flex:1;
  overflow: hidden;
  border:1px solid white;
  background-color: #add8e6;

}

.videoContainer{
  display: none;
}

.record_button {
  background:  rgb(250, 166, 166);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    opacity: 1;
    
}

.record_button:hover .front{
  filter: brightness(85%);}

.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  font-size: 1.25rem;
  background:  rgb(255, 86, 86);
  color: white;
  transform: translateY(-6px);
  transition: 500ms;
  align-items: center;
  justify-content: center;
  line-height: 2rem;

}

.icon{
  height:30px;
  width:30px;
}

.record_button:active .front {
  transform: translateY(-2px);
}

.textInput {
  resize: none;
  height: 60%;
  margin-bottom: 1rem;
  width: 80%;
  border-radius: 15px;
  padding: 10px;
  border: 2px solid  rgb(250, 166, 166);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.url_input{
  margin-bottom: 2rem;
  width: 80%;
  border-radius: 8px;
  outline: none;
  height:2rem;
  border: 2px solid red;
  padding:5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#transcriptionDiv.textInput:focus {
  border: 2px solid pink;
  outline: none;
}